.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-but{
    margin: 0.7vw;
    font-size: 1.4vw;
    padding: 0.5vw;
    display: block;
    background-color: none;
    color: black;
    border-radius: 3%;
    font-family: var(--fontOne);
    transition: all 0.6s ease;
}
.nav-but:hover{
    transform: scale(1.25);
    color: white;
    background-color: black;
}

.logoresize{
    width:50px;
    height: 40px;
}
.containerheader{
    font-family: var(--fontOne);
    display:flex;
    margin-top: 20px;
    font-size: 2rem;
    flex-direction: row;
}

.camera{
    height:100px;
    width:100px;
}
.explore{
    display: flex; 
    justify-content: center;

}

.title{
    font-size: 2rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
main{
    box-sizing: border-box;
    margin:0;
}
body{
    margin:0;
    overflow-x:hidden;
}


.mySlides{
    display: none;
}
main > img{
    vertical-align: middle;
    
}
.slideshow-container{
    max-width:100%;
    position:relative;
    margin:auto;
}
.prev,.next{
    cursor:pointer;
    position:absolute;
    top:45%;
    width:auto;
    padding:16px;
    margin-top:-22px;
    color:white;
    font-weight: bold;
    font-size:18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right:0;
    border-radius: 3px 0 0 3px;
}
.prev:hover , .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.text{
    color:#f2f2f2;
    font-size:2em;
    padding: 8px 12px;
    position:absolute;
    width:100%;
    text-align: center;
    bottom:40%;
    font-family: 'Oswald', sans-serif;

}
.final{
    align-self: center;
    padding:0.5em;
    margin: 1.8em 0 0 0.5em;
    text-decoration: none;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-family: "Oswald",sans-serif;

}
.sliderImage{
    width:100%; 
    height:450px;
}
.dot {
    cursor:pointer;
    height:15px;
    width:15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display:inline-block;
    transition: background-color ease 0.6s ease;
}
.active,.dot:hover{
    background-color: #717171;
}
.fade{
    -webkit-animation-name: fade ;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4}
    to{opacity: 1}
}
@keyframes fade{
    from {opacity: .4}
    to{opacity: 1}

}
@media only screen and (max-width:1200px){
    .prev,.next,.text{
        font-size: 2em;
    }
    .dot{
        height:10px;
        width:10px;
    } 
}

@media only screen and (max-width:976px){
    .prev,.next,.text{
        font-size: 2em;
    }
}
@media only screen and (max-width:768px){
    .prev,.next,.text{
        font-size: 2em;
    }
}
@media only screen and (max-width:576px){
    .prev,.next,.text{
        font-size: 1.4em;
    }
}
/** PAGE 2 onwards**/
.home{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
a:link{text-decoration: none;}
.one{
    display: flex;
    font-size: 2rem;
    font-family: 'Oswald',sans-serif;
}
.containerheader2{
    display:flex;
    margin-top: 20px;
    font-family:'Segoe UI';
    flex-direction: row;
    justify-content: space-around;
}
.search{
    border-radius: 10px;
    height:1.2rem;
    width: 10vw;
    padding: 0.58em 0.6em 0.58em 2.1em;
    text-align:center;
    background-image: url(Images/searching-magnifying-glass.png);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border: 2px solid black;
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sliderImage2{
    width: 100%; 
    height:20rem;
    border-radius: 2rem;

}
.slideshow-container2{
    max-width:85%;
    position:relative;
    margin:auto;
}
.prev2,.next2{
    cursor:pointer;
    position:absolute;
    top:45%;
    width:auto;
    padding:16px;
    margin-top:-22px;
    color:white;
    font-weight: bold;
    font-size:18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next2{
    right:0;
    border-radius: 3px 0 0 3px;
}
.text2{
    color:red;
    font-family: 'Oswald', sans-serif;
    font-size:1.3em;
    padding: 8px 12px;
    position:absolute;
    width:100%;
    top:0%;
    left:3%;
}
:root {
    --colorOne: #141414;
    --ColorTwo: #5c5c5c;
    --colorWhite: #e5e5e5;
    --fontOne: 'Oswald',sans-serif;
    --tileBorderRadius: 4px;

}
.owl{
    font-family: var(--fontOne);
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.thumbSection{
    padding-top:3%;
    color:red;
}
.thumbTitle{
    font-size:1.3rem;
    line-height:14px;
    font-weight:500;
    margin: 0 4% 12px;

}
.thumbTiles.swiper{
    padding: 0 4%;

}
.thumbTile{
    width:20%;

}
.thumbTile__image{
    width:100%;
    border-radius: var(--tileBorderRadius);
    height:10rem;
    transition: height 0.6s ease;
    transition: width 0.6s ease;


}
.thumbTiles .swiper-button-next,
.thumbTiles .swiper-button-prev{
    height:100%;
    width:4%;
    width:calc(4%-5px);
    top:0;
    bottom:0;
    margin:0;
    transition: background-color 0.5s ease;
}
.thumbTiles .swiper-button-prev{
    left:0;
    border-top-right-radius: var(--tileBorderRadius);
    border-bottom-right-radius: var(--tileBorderRadius);
}
.thumbTiles .swiper-button-next{
    right:0;
    border-top-left-radius: var(--tileBorderRadius);
    border-bottom-left-radius: var(--tileBorderRadius);
}
.thumbTiles .swiper-button-next:hover,
.thumbTiles .swiper-button-prev:hover{
    background-color: rgba(20,20,20,0.5);
}
.thumbTiles .swiper-button-next,
.thumbTiles .swiper-button-prev{
    color:#fff;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}
.thumbTiles .swiper-button-next:hover,
.thumbTiles .swiper-button-prev:hover{
    transform: scale(1.25);        
}
.thumbTile__image:hover{
    transform: scale(1.02);
}
.filterbutton{
    background-color: white;
    font-family: "Oswald",sans-serif;
    padding:0 1.3rem;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 7px;
    margin-bottom: 1%;
    margin-left: 2%;
    min-width: 0;
}
.filterbutton:hover{
    transform: scale(1.25);
}
.filter{display: none;
}
.thumbTitle.special{
    font-size:1.3rem;
    line-height:14px;
    font-weight:2rem;
    margin: 1% 4%;
}

#dropdown{
    border-radius: 7px;
    margin-left: 0.3rem;
    margin-bottom:12px;
    font-family: 'Oswald',sans-serif;
}
.footer{
    display: flex;
    justify-content: center;
    font-family: "Oswald",sans-serif;
    font-size: 1vw;
    border: 2px solid black;
}
.dropdown-content {
      background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }

/**Page 3 onwards**/
.container{
    display: flex;
    justify-content: center;
}
.class1{
    border-radius: 10px;
}
.movieName{
    margin-left: 10vw;
    font-family: "Oswald",sans-serif;
    font-size: 2vw;
    width: 65vw;
}
.ratings{
    font-family: "Oswald",sans-serif;
    font-size: 2vw;
}
.star{
    width: 2vw;
    height: 2vw;
    margin-top: 2.2vw;
    margin-left: 0.5vw;
}
.about{
    border:3px solid black;
    margin-left: 10vw;
    width:78%;
    height: 50vh;
    padding: 1vw;
    overflow-x: hidden;
    overflow-y: auto;
}
.aboutContents{
    font-family: "Oswald",sans-serif;
    font-size: 2vw;
}
.characters{
    margin-top: 2vw;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}
.swiper.special{
    width:70%;
    margin-left: 10vw;
    height:15vw;
    text-align: center;
    padding: 0 5vw 0 5vw;
    border: 3px solid black;
}
.characterName{
    font-family: "Oswald",sans-serif;
    margin-bottom: 1vw;
    font-size: 1vw;

}
.back{
    font-family: "Oswald",sans-serif;
    font-size: 2vw;
    margin-left:1vw;
    margin-bottom: 100px;
    color: black;
    transition: 0.6s font-size ease ease;
}
.back:hover{
    font-size: 2.3vw;
}
.special.swiper-button-next ,.special.swiper-button-prev{
    color: red;
    height: 100%;
    width:4%;
    width:calc(4%-5px);
    top:0;
    bottom:0;
    margin:0;
    transition: background-color 0.5s ease;
    transition: transform 0.5s ease-out;
    font-weight: bold;

}
.special.swiper-button-next:hover ,.special.swiper-button-prev:hover{
    background-color: rgba(0,0,0,0.5);
    transform: scale(1.25);
}
.comments{
    width: 50vw;
    background: #111;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 .stars label{
    font-size: 4vw;
    color:#444;
    padding: 0 0 0 10px;
    float: right;
    transition: all 0.2s ease;
 }
 .stars input:not(:checked) ~ label:hover,
 input:not(:checked)~label:hover~label{
    color: #fd4;
 }
 input:checked ~label{
    color: #fd4;
 }
 .input-stars{
    font-size: 1vw;
    font-family: var(--fontOne);
 }
 #four,#three,#two,#one{
    display: none;
    color: white;
 }
 #five{color: white;}

 .stars input{
    display: none;
  }

  .stars label:before{
    content: '★';
  }
  .words{
    font-family: var(--fontOne);
    font-size: 2vw;
    margin-top: 1vw;
    color: white;
  }
  